.menu__container {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  background: #080033;
  background: linear-gradient(
    90deg,
    rgba(8, 0, 51, 1) 0%,
    rgba(26, 14, 89, 1) 100%
  );

  -webkit-border-bottom-right-radius: 16px;
  -webkit-border-bottom-left-radius: 16px;
  -moz-border-radius-bottomright: 16px;
  -moz-border-radius-bottomleft: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top: 2px solid var(--tertiary-color);
  animation: translateMenu 0.3s ease-in;
}

@keyframes translateMenu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  padding-top: 4rem;
}

.menu__list li {
  list-style-type: none;
  font-size: 4rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--tertiary-color);
  opacity: 0.75;
  cursor: pointer;
}
.menu__list li:hover {
  opacity: 1;
  text-decoration: underline;
}

ul.menu__list {
  padding: 0;
}

/* ----------------RESPONSIVE-------------- */

@media only screen and (max-width: 430px) {
  .menu__container {
    width: 100vw;
    height: 100vh;
    left: 0;
    padding-top: 9rem;
  }

  .menu__list li {
    font-size: 3rem;
  }
}
