.graphic-element {
  position: absolute;
  right: 0;
  z-index: -1;
}

.red-element {
  right: 20rem;
}
.section-one {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 85vh;
  padding: 0px 48px;
}

.section-one h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 100%;
}

.section-one__typeanimation {
  font-weight: 600;
  color: #f03a66;
}

.change-color {
  animation: textColor 3500ms 1000ms infinite;
}

@keyframes textColor {
  0% {
    color: #f03a66;
  }
  1% {
    color: #6a4dff;
  }

  100% {
    color: #6a4dff;
  }
}
