:root {
  --primary-color: #6a4dff;
  --secondary-color: #f03a66;
  --tertiary-color: #d4ccff;
  --bg-color: #080033;
  --text-color: #f5f5f5;

  background-color: var(--bg-color);
  font-family: "roc-grotesk", "Franklin Gothic Medium", "Arial Narrow",
    sans-serif;
  color: var(--text-color);
}

body {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h4,
p {
  margin: 0;
}
